.createStoreMain {
  display: grid;
}

.wrapperContainer {
  padding-top: 0;
  padding-bottom: 0;
}

.mainContainer {
  overflow: hidden;
  padding: 5.2rem 4rem;
  background: radial-gradient(
      145.46% 122.03% at 88.28% 10.25%,
      rgba(222, 164, 242, 0.1) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(
      93.02% 80.9% at 22.44% 86.73%,
      rgba(110, 111, 248, 0.1) 0%,
      rgba(110, 111, 248, 0) 100%
    ),
    linear-gradient(
      131.02deg,
      rgba(104, 108, 248, 0.059) 10.34%,
      rgba(236, 171, 241, 0.059) 90.18%
    ),
    #060519;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  min-height: 75rem;
  gap: 2rem;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

.backBtn {
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
}

.backBtn img {
  display: block;
}

.backBtn:hover {
  background-color: #ffffff3b;
}

.innerContainer {
  display: grid;
  gap: 5rem;
  grid-template-rows: 1fr auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

.industryImageContainer {
  display: grid;
  place-items: center;
}

@media screen and (max-width: 76.2em) {
  .mainContainer {
    grid-template-columns: 1fr;
    max-width: 70rem;
    margin: auto;
    height: auto;
    min-height: unset;
  }

  .industryImageContainer {
    display: none;
  }
}
