:root {
  --clr-primary-1: #060519;
  --clr-primary-2: #06051a;
  --clr-primary-3: #686cf8;
  --clr-primary-4: #5961f8;
  --clr-primary-5: #658ded;
  --clr-secondary-1: #ecabf1;
  --clr-secondary-2: #f2d9f7;
  --clr-light-1: #fff;
  --clr-light-2: #c8d8ff;
  --clr-light-3: #96abde;
  --clr-light-4: #5c6d8e;
  --clr-light-5: #4b4e70;
  --clr-light-6: #5c74a3;
  --clr-dark-1: #000;
  --clr-dark-2: #111;
  --clr-dark-3: #343e50;
  --clr-dark-4: #322e4c;
  --clr-error-1: #bd6969;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  box-sizing: border-box;
  width: 100%;
  flex-grow: 1;
  color: var(--clr-light-2);
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--clr-primary-2);
  display: flex;
  flex-direction: column;
}

a:link,
a:visited,
a:hover,
a:active {
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

button,
button:hover,
button:active {
  font-family: inherit;
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

main {
  flex: 1;
}

input {
  outline: none;
  font-size: inherit;
  color: inherit;
}

input::placeholder {
  color: var(--clr-light-4);
}

input.invalid,
input.invalid:focus {
  border-color: var(--clr-error-1);
}

.demoContainer {
  display: grid;
  place-content: center;
  gap: 2rem;
  height: 100%;
}

.demoContainer h1 {
  text-align: center;
  font-size: 5rem;
}

@media screen and (max-width: 153.6em) {
  html {
    font-size: 58.5%;
  }
}

@media screen and (max-width: 136.6em) {
  html {
    font-size: 55.5%;
  }
}
